<div class="midpanel">
  <div class="container-fluid midMobileMode">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="jumbotron form-group">
          <form>
            <h3>Get in touch with us today.</h3>
            <input type="text" class="form-control" placeholder="Name"/>
            <br/>
            <input type="text" class="form-control" placeholder="Email"/>
            <br/>
            <ngx-intl-tel-input [preferredCountries]="['au']" [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"></ngx-intl-tel-input>
            <br/>
            <br/>
            <textarea rows="6" cols="50" class="form-control" placeholder="Message"></textarea>
            <br/>
            <div class="g-recaptcha" data-sitekey="6LeinBsUAAAAALWcqVRKFDJDLeb3_T62uJcTxiKZ"></div>
            <br/>
            <button id="btn-subscribe" class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="cont-info">
          <h3>We'd Love to Connect</h3>
          <p>Please drop us a line to find out more about what our products can do for you. Fill out the
            form and
            our Support Team will get in touch with you shortly. We look forward to hearing from
            you.</p>
          <h3>Questions?</h3>
          <p>Call us at +61 450121610.</p>
          <h3>Office Locations</h3>
          <p>Hurstville, NSW </p>
        </div>
      </div>
    </div>
  </div>
</div>
