<div style="background: #25AAE1;margin-top: 20px">
  <div class="container-fluid">
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-6 footer-col">
            <div class="logofooter"> Vincent</div>
            <p><i class="fa fa-map-marker"></i> Hurstville, NSW
            </p>
            <p><i class="fa fa-phone"></i> Phone : 0451121610.</p>
            <p><i class="fa fa-envelope"></i> E-mail : vincenttat@live.com</p>
          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">Find Us</h6>
            <img class="gmap" width="600"
                 src="https://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=false&size=250x300&maptype=roadmap&format=png&visual_refresh=true"
                 alt="Google Map of Albany, NY"/>
          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">LATEST POST</h6>
            <div class="post">
              <p>facebook crack the movie advertisment code:what it means for
                you <span>August 3,2015</span></p>
              <p>facebook crack the movie advertisment code:what it means for
                you <span>August 3,2015</span></p>
              <p>facebook crack the movie advertisment code:what it means for
                you <span>August 3,2015</span></p>
            </div>

          </div>

          <div class="col-md-3 col-sm-6 footer-col">
            <h6 class="heading7">Social Media</h6>
            <ul class="list-inline">
              <li><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></li>
              <li><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></li>
              <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
              <li><i class="fa fa-google-plus social-icon google" aria-hidden="true"></i></li>
            </ul>
          </div>
        </div>
      </div>

    </footer>

    <hr/>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-8">

          <a href="terms-and-conditions">Terms of Service</a>

          <a href="privacy">Privacy</a>

          <a href="security">Security</a>

        </div>
        <div class="span4">
          <p class="muted pull-right">© 2019 Vincent Tat. All rights reserved</p>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loadingModal" role="dialog" style="margin-top: 200px">
      <div class="modal-dialog">
        <div class="modal-body" style="color: white;text-align: center">
          <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
          <p>Loading HelpDesk, Please wait...</p>
        </div>
      </div>

    </div>
  </div>
</div>
